.membership__columns__container {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    justify-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
    line-height: 28px;
    letter-spacing: 0.2px;
    gap: 27px;
    max-width: 1170px;
    padding: 0 0 100px 0;
    color: w;
}

.membership__columns__wrapper {
    width: 100%;
    background-color: white;
    padding: 80px 20px;
}

.membershit__column__h2 {
    margin-top: 10px;
    font-size: 25px;
}

.ball,
.stadium,
.medal {
    width: 70px;
    height: 70px;
    margin-top: 15px;
}

.membershit__column__price {
    margin-top: 20px;
    font-size: 34px;
}

.membershit__column__duration {
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 40px;
}

.membershit__column__button__wrapper {
    margin-top: 38px;
    background-color: red;
    width: 118px;
    margin: auto;
    height: 38px;
    display: grid;
    align-content: center;
    /* color: white; */
}

.mebership__price__section {
    background-color: lightgray;
}

.membershit__column__button {
    text-decoration: none;
    color: white;
}
.mebership__price__wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
    max-width: 1170px;
    margin: 0 auto;
}

.mebership__price__h2 {
    font-size: 42px;
    margin-bottom: 90px;
    position: relative;
}

.mebership__price__h2::after {
    content: "";
    display: flex;
    width: 61px;
    height: 1px;
    position: absolute;
    border-bottom: 1px ridge red;
    bottom: -50%;
    left: 46%;
    z-index: 5;
}
.membershit__column__button__wrapper:hover{
    background-color: darkred;
}