.shop__background__wrapper {
    padding: 20px 0;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.shop__wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
}

.shop__h2 {
    font-size: 42px;
    margin-bottom: 10px;
    position: relative;
    margin-top: 46px;
}

.shop__h2::after {
    content: "";
    display: flex;
    width: 61px;
    height: 1px;
    position: absolute;
    border-bottom: 1px ridge red;
    bottom: -85%;
    left: 23%;
    z-index: 5;
}

.shop__column__container {
    display: flex;
    margin: 70px;
    gap: 15px;
}

.container__wrapper {
    display: flex;
}

.shop__column__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
}

.column__img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
}

.shop__column__price {
    font-size: 20px;
    margin-top: 20px;
    color: red;
}

.shop__column__button {
    font-size: 14px;
    margin-top: 15px;
    height: 40px;
    width: 118px;
    background-color: red;
    color: white;
    border: none;
    transition: 300ms ease-in-out;
}
.shop__column__button:hover{
    background-color: darkred;
    cursor: pointer;
}

.column__img__wrapper {
    min-width: 163px;
}
.go__to__shop{
    
height: 40px;
    
width: 142px;
    
color: blue;
    
border: 2px solid blue;
    
transition: 300ms ease-in-out;
}
.go__to__shop:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
}
