
.staff__and__coaches__background__wrapper {
    padding: 90px 0;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.staff__and__coaches__wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
}

.staff__and__coaches__h2 {
    font-size: 42px;
    margin-bottom: 90px;
    position: relative;
    margin-top: 90px;
}

.staff__and__coaches__h2::after {
    content: "";
    display: flex;
    width: 61px;
    height: 1px;
    position: absolute;
    border-bottom: 1px ridge red;
    bottom: -50%;
    left: 46%;
    z-index: 5;
}

.staff__and__coaches__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

.staff__and__coaches__p {
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: 500;
    margin-bottom: 60px;
}

.staff__and__coaches__column {
    background-color: white;
    padding: 40px 36px;
    text-align: center;
}
.staff__and__coaches__column__h2 {
    margin-bottom: 18px;
}

.staff__and__coaches__img__wrapper{

max-width: 370px;

max-height: 278px;
}
.staff__and__coaches__columns__wrapper{
    display: flex;
    align-items: baseline;
    text-align: -webkit-right;
    justify-content: center;
}
