<section class="events__container">
    <div class="events__background__wrapper">
        <div class="events__backgrond__opacity__wrapper"></div>
        <div class="events__wrapper">
            <div class="events__wrapper">
                    <h2 class="events__h2">Events</h2>
                    <p class="events__p">We regularly hold different kinds of events. Look through some of them:</p>
            </div>
        
        <div class="events__rows__wrapper">
            <div class="events__row__date__wrapper">
                <p class="events__row__date">01</h2>
                <p class="events_row__month">December</p>
            </div>
            <div class="events__row__events__wrapper">
                <p class="events__row__events">Gold Medal Presentation Ball</h2>
                <p class="events__row__events__info">Football trophy</p>
            </div>
            <div class="events__row__time__hepening__wrapper">
                <p class="events__row__hepening__date">Fri, Oct. 01, 2018</h2>
                <p class="events__row__hepening__time">10:30 - 14:00</p>
            </div>
        </div>
        <div class="events__rows__wrapper">
            <div class="events__row__date__wrapper">
                <p class="events__row__date">21</h2>
                <p class="events_row__month">December</p>
            </div>
            <div class="events__row__events__wrapper">
                <p class="events__row__events">Lions FC Cocktail Party</h2>
                <p class="events__row__events__info">Corporate event</p>
            </div>
            <div class="events__row__time__hepening__wrapper">
                <p class="events__row__hepening__date">Sat, Sep. 21, 2018</h2>
                <p class="events__row__hepening__time">o10:30 - 14:00</p>
            </div>
        </div>
        <div class="events__rows__wrapper events__rows__none__border">
            <div class="events__row__date__wrapper">
                <p class="events__row__date">07</h2>
                <p class="events_row__month">December</p>
            </div>
            <div class="events__row__events__wrapper">
                <p class="events__row__events">Season Launch</h2>
                <p class="events__row__events__info">Workshop</p>
            </div>
            <div class="events__row__time__hepening__wrapper">
                <p class="events__row__hepening__date">Fri, Sep. 07, 2018</h2>
                <p class="events__row__hepening__time">o10:30 - 14:00</p>
            </div>
        </div>
    </div>
    
    </div>
</section>