<section class="gallery__container">
    <div class="gallery__background__wrapper">
        <div class="gallery__wrapper">
            <div class="gallery__header__wrapper">
                <h2 class="gallery__h2">Teams</h2>
            </div>

            <div class="gallery__carousel__wrapper">
                <div class="gallery__left__button">
                    <span class="left-button">
                        <i class="bi bi-caret-left-square-fill"></i>
                    </span>
                </div>
                <div class="gallery__right__button">
                    <span class="right-button">
                        <i class="bi bi-caret-right-square-fill"></i>
                    </span>
                </div>
                <div class="wrapper__for__carousel" id="opa">
                    <div class="slider__contaienr">
                <div class="gallery__img__wrapper" id="1">
                    <img src="../images/carousel_1.webp" alt="" class="gallery__img">
                </div>
                <div class="gallery__img__wrapper" id="2">
                    <img src="../images/carousel_2.webp" alt="" class="gallery__img">
                </div>
                <div class="gallery__img__wrapper" id="3">
                    <img src="../images/carousel_3.webp" alt="" class="gallery__img">
                </div>
                <div class="gallery__img__wrapper" id="4">
                    <img src="../images/carousel_4.jpg" alt="" class="gallery__img">
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>