<section class="gallery__container">
    <div class="gallery__background__wrapper">
        <div class="gallery__h2__wrapper">
            <div class="gallery__wrapper">
                    <h2 class="gallery__h2">Staff and Coaches</h2>
                    <p class="gallery__p">Lions Football Club consists of a professional, unique, and diverse team of coaches and club staff. All our coaches have different origins, each with their own individual understanding of the game. </p>
            </div>
        </div>
        <div class="gallery__wrapper">
            <div class="gallery__column">
                <div class="gallery__img__wrapper">
                <img class="gallery__column__img" src="../images/fb__1__schedule.webp" alt="one of the best players">
            </div>
            </div>
            <div class="gallery__column">
                <div class="gallery__img__wrapper">
                 <img class="gallery__column__img" src="../images/fb__2__schedule.webp" alt="one of the best players">
                </div> 
            </div>
            <div class="gallery__column">
                <div class="gallery__img__wrapper">
                <img class="gallery__column__img" src="../images/fb__3__schedule.webp" alt="one of the best players">
            </div>
            </div>
        </div>
    </div>
</section>