<header>
<nav class="nav__container">
 <img src="/images/header___logo.png" alt="headers logo" class="nav__logo">
 <ul class="nav__ul">
    <li class="nav__li"><a href="#"class="nav__link">About us</a></li>
    <li class="nav__li"><a href="#" class="nav__link">Membership</a></li>
    <li class="nav__li"><a href="#" class="nav__link">Events</a></li>
    <li class="nav__li"><a href="#" class="nav__link">Shop</a></li>
    <li class="nav__li"><a href="#" class="nav__link">Location</a></li>
    <li class="nav__li"><a href="#" class="nav__link">Contacts</a></li>
 </ul>
</nav>
</header>