<section class="membership__container">
    <div class="membership__wrapper">
    <div class="membership__img__container">
    <img src="../images/team_with_cup.webp" alt="footbal team" class="membership__img">
</div>
     <article class="membership__article">
        <h1 class="membership__h1">Membership</h1>
        <div class="membership__hr"></div>
        <p class="membership__p">Every player at Lions FC has to be a member of the club. Every penny paid is allocated to sustain and upkeep our clubhouse: the spacious grounds, club facilities, coaching payroll, and more.</p>
     </article>
    </div>
</section>