<section class="modal__container">
    <div class="modal__back__ground__opacity"></div>
    <div class="modal__form__wrapper">
        <div class="modal__nortification">
            <div class="modal__close__button">
                <div class="modal__nortification__close__button">
                    <div class="modal__form__button__first__line"></div>
                    <div class="modal__form__button__second__line"></div>
                </div>
            </div>
            <div class="nortification__p__wrapper">
                <p class="modal__modal__nortifacation__p">Shopping cart is empty</p>
            </div>
        </div>
        <form action="" class="modal__form">
            <div class="moda__form__header__wrapper">
                <h5 class="modal__form__name">Shopping cart</h5>
                <div class="modal__form__close__button">
                    <div class="modal__form__button__first__line"></div>
                    <div class="modal__form__button__second__line"></div>
                </div>
            </div>
            <div class="modal__form__name__inputs__wrapper">
                <h6 class="modal__form__name__inputs__name">Products</h6>
                <div class="modal__form__inputs__item__manager">
                    <div class="modal__form__inputs__products__wrapper">
                        <ul class="modal__form__inputs__img__wrapper">

                        </ul>
                    </div>
                    <p class="modal__form__inputs__total__price"></p>
                    <p class="modal__form__inputs__place__p">
                        Place an order
                    </p>
                    <div class="modal__form__inputs__label__wpapper">
                        <h4 class="modal__form__inputs__h4__name">Name <span
                                class="modal__form__inputs__h4__span">*</span></h4>
                        <input type="text" name="" id="" class="modal__form__inputs__all" placeholder="Your name">
                    </div>
                    <div class="modal__form__inputs__label__wpapper">
                        <h4 class="modal__form__inputs__h4__name">Email <span
                                class="modal__form__inputs__h4__span">*</span></h4>
                        <input type="email" name="" id="" class="modal__form__inputs__all"
                            placeholder="Your email address">
                    </div>
                    <div class="modal__form__inputs__label__wpapper">
                        <h4 class="modal__form__inputs__h4__name">Phone <span
                                class="modal__form__inputs__h4__span">*</span></h4>
                        <input type="tel" name="" id="" class="modal__form__inputs__all" placeholder="Your phone">
                    </div>
                    <div class="modal__form__inputs__label__wpapper">
                        <h4 class="modal__form__inputs__h4__name">Comment</h4>
                        <input type="text" name="" id="" class="modal__form__inputs__comment"
                            placeholder="Your comment">
                    </div>
                    <div class="modal__form__inputs__button__wrapper">
                        <button type="submit" class="modal__form__inputs__button">Order</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</section>