<section class="schedule__container">
    <div class="schedule__background__wrapper">
        <div class="schedule__wrapper">
            <div class="schedule__header__wrapper">
                    <h2 class="schedule__h2">Schedule</h2>
            </div>
        </div>
        <div class="schedule__columns__wrapper">
            <div class="schedule__column">
                <h2 class="schedule__column__h2">Gameweek 24th June 2018</h2>
                <p class="schedule__column__p">Having had two games in one week for the first time in the season, we will have to give rest to some of our key players, while young talents can use this opportunity to impress our fans.</p>
            </div>
            <div class="schedule__column">
                <h2 class="schedule__column__h2">Gameweek 24th June 2018</h2>
                <p class="schedule__column__p">Having had two games in one week for the first time in the season, we will have to give rest to some of our key players, while young talents can use this opportunity to impress our fans.</p>
            </div>
            <div class="schedule__column">
                <h2 class="schedule__column__h2">Gameweek 24th June 2018</h2>
                <p class="schedule__column__p">Having had two games in one week for the first time in the season, we will have to give rest to some of our key players, while young talents can use this opportunity to impress our fans.</p>
            </div>
            <div class="schedule__column">
                <h2 class="schedule__column__h2">Gameweek 24th June 2018</h2>
                <p class="schedule__column__p">Having had two games in one week for the first time in the season, we will have to give rest to some of our key players, while young talents can use this opportunity to impress our fans.</p>
            </div>
        </div>
    </div>
</section>