<section class="shop__container">
    <div class="shop__background__wrapper">
        <div class="shop__wrapper">
            <div class="shop__header__wrapper">
                <h2 class="shop__h2">Shop</h2>
            </div>
        </div>
        <div class=container__wrapper>
        <div class="shop__column__container">
            <div class="shop__column__wrapper">
                <div class="column__img__wrapper">
                    <img src="../images/t__shirt__shop.png" alt="basic t" class="column__img">
                </div>
                <p class="shop__column__wrapper">Basic Workouts T-Shirt</p>
                <p class="shop__column__price">$19.49USD</p>
                <button data-id="18" class="shop__column__button">Add to cart</button>
            </div>
        </div>
        <div class="shop__column__container">
            <div class="shop__column__wrapper">
                <div class="column__img__wrapper">
                    <img src="../images/jacket__shop.png" alt="basic t" class="column__img">
                </div>
                <p class="shop__column__wrapper">Puffer Jacket in Red</p>
                <p class="shop__column__price">$83.95USD</p>
                <button data-id="19" class="shop__column__button">Add to cart</button>
            </div>
        </div>
        <div class="shop__column__container">
            <div class="shop__column__wrapper">
                <div class="column__img__wrapper">
                    <img src="../images/hoodie__shop.png" alt="basic t" class="column__img">
                </div>
                <p class="shop__column__wrapper">Lions Cotton Hoodie</p>
                <p class="shop__column__price">$35.71USD</p>
                <button data-id="20" class="shop__column__button">Add to cart</button>
            </div>
        </div>
        <div class="shop__column__container">
            <div class="shop__column__wrapper">
                <div class="column__img__wrapper">
                    <img src="../images/training__bag__shop.png" alt="basic t" class="column__img">
                </div>
                <p class="shop__column__wrapper">Luxury Gym Bag</p>
                <p class="shop__column__price">$67.76USD</p>
                <button class="shop__column__button" data-id="21">Add to cart</button>
            </div>
        </div>
    </div>
    <button class="go__to__shop">Go to shop</button>
   </div>
</section>