<section >
    <form class="sign__up__container">
        <div class="back__ground__wrapper"></div>
        <div class="sign__up__background__wrapper">
            <div class="sign__up__h2__wrapper">
                <div class="sign__up__wrapper">
                    <h2 class="sign__up__h2">
                        Sign Up for Our News</h2>
                </div>
            </div>
            <div class="sign__up__form__wrapper">
                <div class="sign__up__form">
                    <input type="email" 
                    class="sign__up__input" 
                    placeholder="Email"
                    size="64"
                    minlength="10"
                     required>
                    <input class="sign__up__form__button" type="submit" value="Subscribe">
                </div>
            </div>
        </div>

        </div>
    </form>
</section>